<div id="nessNavbar" class="container-fluid position-relative px-3 px-xl-5" style="z-index: 1">
    <nav class="navbar navbar-expand-md px-0">
        <a class="navbar-brand" href="#">Your Brand</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nessNavbarMenu" aria-controls="nessNavbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div id="nessNavbarMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto text-center text-md-left">
                <li class="nav-item{% if page.url == '/' %} active{% endif %}">
                    <a class="nav-link" href="/">Home{% if page.url == '/' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>

                <li class="nav-item{% if page.url == '/about.html' %} active{% endif %}">
                    <a class="nav-link" href="/about">About{% if page.url == '/about.html' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>

                <li class="nav-item{% if page.url == '/training.html' %} active{% endif %}">
                    <a class="nav-link" href="/training">Training{% if page.url == '/training.html' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            </ul>

            <ul id="nessNavbarSocial" class="navbar-nav flex-row ml-auto justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
