@import 'hero';


// nav
#nessNavbar {
    background-color: #fff;
    border-bottom: solid 2px #222;
    
    .navbar-brand {
        color: #222;
    }

    .navbar-toggler {
        font-size: 24px;
        color: #222;

        cursor: pointer;
    }

    .navbar-nav {
        li a {
            color: #222;

            &:hover {
                color: $p;
            }
        }

        .active a {
            color: $p;
        }

        &#nessNavbarSocial {
            @media (max-width: 767px) {
                margin-top: 12px
            }

            li {
                @media (max-width: 767px) {
                    margin-right: 12px;
                    margin-left: 12px;
                }

                @media (min-width: 768px) {
                    margin-left: 4px;
                    margin-right: 0;
                }

                a {
                    i {
                        box-sizing: content-box;

                        background-color: $p;
                        width: 14px;
                        height: 14px;
                        padding: 6px;
                        border-radius: 100%;

                        font-size: 14px;
                        color: #fff;
                        text-align: center;
                        line-height: 1;
                    }

                    &:hover i {
                        background-color: #222;
                    }
                }
            }
        }
    }
}


// options
#nessFooter {
    border-top: solid 1px #ddd;
}